[submodule "RobinTheEngine/vendor/spdlog"]
	path = RobinTheEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "RobinTheEngine/vendor/DirectX12-Headers"]
	path = RobinTheEngine/vendor/DirectX12-Headers
	url = https://github.com/microsoft/DirectX-Headers
[submodule "RobinTheEngine/vendor/GLFW"]
	path = RobinTheEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
